.button:not(:first-child) {
  margin-left: 10px;
}

.buttonBar {
  position: absolute;
  left: 50%;
  bottom: 23%;
  transform: translate(-50%, 0);
  z-index: 300;
}

button[disabled] {
  background-color: #d0d0d0;
  color: #a0a0a0;
}