.dialog {
  min-height: 360px;
}

.buttons {
  text-align: right;
  padding-top: 10px;
}

.code {
  flex: 1;
  padding-bottom: 5rem;
}

.avatars {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  // padding: 1em 0;
  text-align: center;
}

.body {
  flex: 1;
  display: flex;
}

.tabBody {
  flex: 1;
  display: flex;
  align-items: center;
}

.tabs, .tab {
  flex: 1;
}

.tab {
  padding: 1.7rem 0 0 0;
}

.modeContainer {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  overflow-y: auto;
}

.mode {
  flex: 1;
  text-align: center;
  padding: 5px;
  border: 2px solid transparent;
  cursor: pointer;
}

.modeSelected {
  border-color: #2196f3;
  border-radius: 10px;
}

.notouch {
  pointer-events: none;
}