.page {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.code {
  padding-bottom: 5rem;
}

.buttons {
  text-align: right;
}

.avatars {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  padding: 1em 0;
}