.toggle {
  width: 100px;
  height: 100px;
  > svg {
    width: 100%;
    height: 100%;
  }
}

.avatarFlex {
  flex: 1;
  padding: 1em 0;
}

.avatarContainer {
  cursor: pointer;
  margin: 0 auto;
  position: relative;
  width: 100px;
  height: 100px;
}

.avatar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  > svg {
    width: 100%;
    height: 100%;
  }
}

.avatarDesc {
  color: transparent;
  position: absolute;
  bottom: 0;
  pointer-events: none;
}

.hidden {
  display: none;
}

.next {
  svg {
    display: none;
  }
}

.notouch {
  pointer-events: none;
}